<div class="content-main">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box london">

            <div class="info float-container">
                <div class="col-sm-6 location-main">
                    <div class="col-sm-12 london-title">
                        <h3 class="text-uppercase">Proin gravida nibhvel</h3>
                        <h4 class="text-uppercase">mauris vitae erat</h4>
                    </div>
                    <div class="row london-title">
                                <div class="col-sm-2 user-icons">
                                    <div class="box-icon">
                                        <img src="images/clock.png" alt="Image" class="img-responsive">
                                        <h5>50min</h5>
                                    </div>
                                    
                                </div> 
                                <div class="col-sm-2 user-icons">
                                    <div class="box-icon">
                                        <img src="images/hat.png" alt="Image" class="img-responsive">
                                    </div>
                                    <h5>1/3</h5>
                                </div>
                                <div class="col-sm-2 user-icons">
                                    <div class="box-icon">
                                        <img src="images/users2.png" alt="Image" class="img-responsive">
                                    </div>
                                    <h5>4</h5>
                                </div>
                                <div class="col-sm-2 user-icons">
                                    <div class="box-icon">
                                        <img src="images/cost.png" alt="Image" class="img-responsive">
                                    </div>
                                    <h5>2/3</h5>
                                </div> 
                    </div>
                </div>
                <div class="col-sm-6 london-title">
                    <div class="box-icon">
                        <img src="images/cook1.jpg" alt="Image" class="img-responsive">
                    </div>
                </div> 
                <div class="col-sm-12">
                    <h5 class="text-uppercase"> Ingredients: </h5>
                    <p>- pasta 400g  - funghi 300g  - panna 250g </p><hr>
                </div> 
                <div class="col-sm-12">
                    <h5 class="text-uppercase"> Preparation Steps: </h5>
                    <p>1 - Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
                        2 - Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
                       3 - Sean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. </p><hr>
                </div> 
            </div>
        </div>
    </div>
</div>