<div class="content-main">
    <div class="contact-content-upper">
        <div class="row margin-b-30" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="gallery_title">
                    <h3>Aggiungi una ricetta</h3>
                    <h4>Please complete all sections</h4>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-12 contact_left">
                <form class="form-horizontal" ng-submit="" >

                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Title..." value="">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="description" name="email" placeholder="Short description..." value="">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3 col-md-3 contact_right">
                            <h5>Difficult</h5>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                            </label>
                        </div>

                        <div class="col-sm-3 contact_right" >
                            <h5>Servings</h5>
                            <input type="text" class="form-control" placeholder="number..">
                        </div>

                        <div class="col-sm-3 col-md-3 contact_right">
                            <h5>Cost</h5>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio11" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio22" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions2" id="inlineRadio33" value="option3"> 3
                            </label>
                        </div>
                        <div class="col-sm-3 contact_right" >
                            <h5>Ready In</h5>
                            <input type="text" class="form-control" placeholder="number..">
                        </div>

                    </div>

                    


                    <div class="col-sm-12">
                        <select class="c-select form-group">
                            <option selected>select CookBook</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>

                        <div class="form-group">
                            <input class="btn view_more" name="submit" type="submit" value="Aggiungi" id="submit"  >
                        </div>
                    </div>
                </form>

            </div> <!-- .contact-left -->

        </div> <!-- .row -->
    </div>

</div> <!-- .contact-content -->
</div> <!-- .main-page -->
</div> <!-- .row -->







